<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}}|NGO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    {% load static %}
    <style>
      .notification-icon {
          position: relative;
          display: inline-block;
      }

      .badge {
          position: absolute;
          top: -10px;
          right: -12px;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 10px;
          height: 25px;
      }
    </style>
  </head>
  <body style="font-family: sans-serif">
    <header
      class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md"
    >
      <div class="flex-1 flex justify-between items-center">
        <a href="#" class="text-xl">NGO-Connect <p class="text-sm">{{ user.first_name }}</p></a>
      </div>

      <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg
          class="fill-current text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
          <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
            <li>
              <a class="md:p-4 py-3 px-0 block">Balance: ₹{{reciever_balance.current_balance}}</a>
            </li>
            <li class="relative">
              <a href="#" class="px-2" id="notificationButton">
                <div class="notification-icon">
                    <i class="fas fa-bell fa-2x"></i> <!-- Replace with your preferred icon -->
                    <span class="badge">{{ notification_count }}</span>
                </div>
              </a>
              <!-- Dropdown Menu -->
              <div class="absolute right-0 mt-2 w-56 bg-white shadow-xl hidden" id="notificationDropdown">
                <!-- Horizontal Card 1 -->
                {% for i in notifications %}
                <div class="flex justify-between items-start p-4 border-b border-gray-200">
                  <div class="flex-grow">
                    <form action="">
                      <h6 class="text-sm font-semibold text-gray-700">{{ i.name }}</h6>
                      <p class="text-xs text-gray-600">{{ i.desc }}</p>
                    </form>
                  </div>
                  <div>
                    <form method="post" action="/reciever/dlt_notification">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button class="text-gray-400 hover:text-gray-500" type="submit">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </div>
                </div>
                {% endfor %}
                <!-- Horizontal Card 2 --> 
              </div>
            </li>
            <li>
              <a class="md:p-4 py-3 px-0 block" href="#">Contributers</a>
            </li>
            <li><a class="md:p-4 py-3 px-0 block" href="/reciever/reciever_profile_page"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            <li>
              <a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- {% if reciever.is_reciever_type_defined == True %}
    <div class="px-5">
      <h2>Hai {% if reciever.reciver_type == 'OAH' %} Old age home {% else %} {{ reciever.reciever_type }} {% endif %}</h2>
    </div>
    {% endif %} -->


    {% if reciever.is_reciever_type_defined == False %}
    <section id="reciver_type" class="flex justify-center items-center">
      <div class="container my-3 mx-auto flex justify-center text-center">
        <form action="/reciever/reciever_type" method="POST" class="flex flex-col items-center p-4 bg-green-100 rounded-lg w-80">
            {% csrf_token %}
          <div class="flex flex-col p-4 space-y-2 bg-green-100 rounded-lg w-80">
            <h3>You are</h3>
            <div class="flex items-center">
              <input type="radio" value="OAH" name="options" id="old-age-home" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600" />
              <label for="old-age-home" class="ml-2 text-sm font-medium text-black-900 dark:text-black-300">OLD age home</label>
            </div>
            <div class="flex items-center">
              <input type="radio" value="orphanage" name="options" id="orphanage" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600" />
              <label for="orphanage" class="ml-2 text-sm font-medium text-black-900 dark:text-black-300">Orphanage</label>
            </div>
            <div class="flex items-center">
              <input type="radio" value="other" name="options" id="other" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600" onclick="toggleInput(true)" />
              <label for="other" class="ml-2 text-sm font-medium text-black-900 dark:text-black-300">Other:</label>
              <input type="text" name="other_value" id="other-input" placeholder="Other" class="ml-2 p-1.5 text-sm border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 hidden" onfocus="this.previousElementSibling.checked=true"/>
            </div>
            <div class="flex items-center py-3">
              <p class="ml-2 text-sm font-medium text-black-900 dark:text-black-300" >Bank balance:</p>
              <input type="number" name="bank_balance" id="" placeholder="Bank Balance" required class="ml-2 p-1.5 text-sm border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500"/>
            </div>
          </div>
          <button type="submit" class="bg-blue-100" id="submit">Submit</button>
        </form>
      </div>
    </section>
    {% endif %}

    {% if reciever.is_reciever_type_defined == True %}
    <section id="reciever_ngo">
      {% if ngo.status == None or ngo.status == 'rejected' %}
      <div class="container text-center my-3 mx-auto">
        {% if ngo.status == 'rejected' %}
        <h3>Rejected by {{ ngo.user.first_name }}</h3>
        {% endif %}
        <h3>Join with any NGO</h3>

        <div class="form-group my-3">
          <form action="/reciever/reciever_ngo" method="POST" class="form-horizontal">
              {% csrf_token %}
              <select id="inputState" class="form-control bg-blue-200" name="reciever_ngo">
                  <option selected value="Active">Select NGO</option>
                  {% for user in users %}
                      {% if user.user_type == 'NGO' %}
                          <option value="{{ user.user.username }}">{{ user.user.first_name }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
              <button type="submit" class="bg-blue-100" id="submitButton" disabled>Submit</button>
          </form>
        </div>    
  
      </div>
      {% elif ngo.status == 'pending' %}
      <div class="container text-center my-3 mx-auto">
        <h2>request in pending</h2>
      </div>
      {% elif ngo.status == 'accepted' %}
      <div class="container text-center mx-auto my-4 py-4 bg-slate-500 rounded-xl" style="height: 20vh; width: 80vh;">
        <p class="text-xl">Hai {{ user.first_name }}, {% if reciever.reciver_type == OAH %} Old age home {% else %} {{ reciever.reciever_type }} {% endif %}</p>
        <h2>You are now under {{ ngo.user.first_name }} NGO</h2>
      </div>
      {% endif %}
    </section>    
    <!-- {{ ngo.status }} -->
    {% endif %}

    <a href="/reciever/make_rec_request">
      <div class="container text-center mx-auto bg-gray-500 w-3/12 rounded-xl hover:bg-slate-500">
        <p>Need anything?</p>
        <p>Make a request to your NGO</p>
      </div>
    </a>


    {% if transactions %}
    <h1 class="text-center mt-6 text-4xl">Transactions</h1>
    <section id="transactions" class="m-4 px-4 flex justify-center items-center">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          Transaction Id
                      </th>
                      <th scope="col" class="px-6 py-3">
                          From
                      </th>
                      <!-- <th scope="col" class="px-6 py-3">
                          Transaction Type
                      </th> -->
                      <th scope="col" class="px-6 py-3">
                          Amount
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Done At
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in transactions %}
                  <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ i.transaction_id }}
                      </th>
                      <td class="px-6 py-4">
                          {{ i.from_user }}
                      </td>
                      <!-- <td class="px-6 py-4">
                          {{ i.transaction_type }}
                      </td> -->
                      <td class="px-6 py-4">
                          ₹{{ i.amount }}
                      </td>    
                      <td class="px-6 py-4">
                          {{ i.done_at }}
                      </td>               
                  </tr>  
                  {% endfor %}            
              </tbody>
          </table>
      </div>
      {% endif %}


    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("change", function () {
          var menu = document.getElementById("menu");
          if (this.checked) {
            // When the checkbox is checked, show the menu
            menu.classList.remove("hidden");
            menu.classList.add("block");
          } else {
            // When the checkbox is not checked, hide the menu
            menu.classList.add("hidden");
            menu.classList.remove("block");
          }
        });
    </script>
    <!-- script to handle submit button reciever_ngo -->
    <script>
      document.getElementById('inputState').addEventListener('change', function() {
          var submitButton = document.getElementById('submitButton');
          var selectedValue = this.value;
          
          // Enable the submit button if a valid option is selected, otherwise disable it.
          if(selectedValue !== "Active") {
              submitButton.disabled = false;
          } else {
              submitButton.disabled = true;
          }
      });
    </script>

<script>
  function toggleInput(show) {
    const input = document.getElementById('other-input');
    if (show) {
      input.classList.remove('hidden');
      input.focus();
    } else {
      input.classList.add('hidden');
    }
  }
  // Hide the input field initially if 'Other' is not selected
  document.querySelectorAll('input[type="radio"][name="options"]').forEach(radio => {
    radio.addEventListener('change', () => {
      const isOtherSelected = document.getElementById('other').checked;
      toggleInput(isOtherSelected);
    });
  });
  </script>
  <script>
    // Simple JavaScript to toggle the dropdown visibility
    document.getElementById('notificationButton').addEventListener('click', function(event) {
      event.preventDefault();
      var dropdown = document.getElementById('notificationDropdown');
      if (dropdown.classList.contains('hidden')) {
        dropdown.classList.remove('hidden');
      } else {
        dropdown.classList.add('hidden');
      }
    });
  </script>
    
  </body>
</html>
