<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGO-Connect</title>
    <style>
      .topnav {
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 23px 14px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav h1 {
        float: left;
        padding-left: 20px;
      }
    </style>
  </head>
  <body style="font-family: sans-serif">
    <div class="topnav">
      <h1>NGO-Connect</h1>
      <a href="signup"><button>Login</button></a>
      <a href="signup"><button>Signup</button></a>
    </div>
  </body>
</html>
