<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
</head>
<body>
    <section>
        <h2>Chats</h2>
        <div>
            <ul>
                {% for user in users %}
                <li>
                    <a href="{% url 'chat_detail' user.username %}">{{ user.username }}</a> - Last messaged: {{ user.last_message_date|date:"Y-m-d H:i" }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <form method="post" action="{% url 'send_message' %}">
                {% csrf_token %}
                <input type="text" name="receiver" placeholder="Enter username to chat" required>
                <textarea name="message" placeholder="Start new chat here..." required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <a href="/logout">logout</a>
        <a href="/">back</a>
    </section>
</body>
</html>