<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}}|NGO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <style>
           .notification-icon {
          position: relative;
          display: inline-block;
      }

      .badge {
          position: absolute;
          top: -10px;
          right: -12px;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 10px;
          height: 25px;
      }
      .alert {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        width: 400px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: 300;
        padding: 10px;
      }
      .alert-good {
        color: white;
      }
      .good-i {
        color: green;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        margin-bottom: 12px;
      }
      .error-i {
        color: red;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        margin-bottom: 12px;
      }
      .info-i {
        color: orangered;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        margin-bottom: 12px;
      }
      .bi {
        vertical-align: 0.125em;
        width: 1em;
        height: 1em;
      }
    </style>
  </head>
  <body style="font-family: sans-serif; background-color: #1C2C2A;">
    <header
      class="lg:px-16 px-4 flex flex-wrap items-center py-4 shadow-md" style="background-color: #1C2C2A;"
    >
      <div class="flex-1 flex justify-between items-center">
        <a href="#" class="text-xl text-white">NGO-Connect <p class="text-sm ">{{ user.first_name }}</p></a>
      </div>

      <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg
          class="fill-current text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
          <ul
            class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
          >
          <li><a class="lg:p-4 py-3 rounded-md px-0 mx-1 block text-white" href="/chat/chat"><i class="fa fa-comments fa-xl" aria-hidden="true"></i></a></li>
          <li class="relative">
            <a href="#" class="px-2" id="notificationButton">
              <div class="notification-icon">
                  <i class="fas fa-bell fa-xl text-white"></i> <!-- Replace with your preferred icon -->
                  <span class="badge">{{ notification_count }}</span>
              </div>
            </a>
            <!-- Dropdown Menu -->
            <div class="absolute right-0 mt-2 w-56 bg-white shadow-xl hidden" id="notificationDropdown">
              {% for i in notifications %}
              <div class="flex justify-between items-start p-4 border-b border-gray-200 z-100">
                <div class="flex-grow">
                  <form action="">
                    <h6 class="text-sm font-semibold text-gray-700">{{ i.name }}</h6>
                    <p class="text-xs text-gray-600">{{ i.desc }}</p>
                  </form>
                </div>
                <div>
                  <form method="post" action="/donor/dlt_notification">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ i.id }}">
                    <button class="text-gray-400 hover:text-gray-500" type="submit">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </div>
              </div>
              {% endfor %}
            </div>
          </li>
            <!-- <li>
              <a class="md:p-4 py-3 px-0 block" href="#">Contributers</a>
            </li> -->
            <li><a class="md:p-4 py-3 px-0 block" href="/donor/donor_profile_page"><i class="fa fa-user text-white fa-xl" aria-hidden="true"></i></a></li>
            <li>
              <a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="/logout"><i class="fa fa-sign-out fa-xl text-white" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

          <!--Alert area-->
          <div class="form-group row mt-6">
            {% for message in messages %} {% if message.tags == 'success' %}
            <div class="alert alert-good h-14" role="alert">
              <i class="bi bi-check-circle good-i"></i>
              {{message}}
            </div>
            {% elif message.tags == 'error' %}
            <div class="alert alert-good h-14" role="alert">
              <i class="bi bi-hexagon-fill error-i"></i>
              {{message}}
            </div>
            {% elif message.tags == 'info' %}
            <div class="alert alert-good h-14" role="alert">
              <i class="bi bi-exclamation-triangle info-i"></i>
              {{message}}
            </div>
            {% else %}
            <div class="alert h-14" role="alert">{{message}}</div>
            {% endif %} {% endfor %}
          
          </div>
          <!--Alert area ends-->

    <section class="text-center my-6 mx-4">
      <h1 class="text-left mx-48 my-5 text-3xl mt-5 text-white">All NGO's</h1>
  
      <div class="text-center">
        {% if ngos_with_balance %}
        <!-- Flex container for cards -->
        <div class="flex flex-wrap justify-center">
            {% for item in ngos_with_balance %}
            <!-- Each card -->
            <div class="w-3/4 mx-2 shadow-md shadow-blue-300 p-3 my-3 bg-white rounded-lg">
                <ul class="mt-3">
                    <li class="text-left">EMAIL: {{ item.ngo.user.username }}</li>
                    <li class="text-left">NAME: {{ item.ngo.user.first_name }}</li>
                    <li class="text-left">ADDRESS: {{ item.ngo.address }}</li>
                    <li class="text-left">PINCODE: {{ item.ngo.pincode }}</li>
                    <!-- Displaying bank balance -->
                    <li class="text-left">BANK BALANCE: ₹{{ item.bank_balance|default:"0" }}</li>
                </ul>
                <br>
                <!-- Flex container for buttons -->
                <div class="flex justify-end mr-10">     
                    <form method="post" action="/donor/donate_btn_request">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ item.ngo.id }}">
                        <!-- <p>{{ item.ngo.user }}</p> -->
                        <button type="submit" class="my-3 px-3 w-32 h-10 bg-black text-white rounded-lg">Donate</button>
                    </form>
                    <form method="post" action="/donor/donor_ngo_details" class="px-5">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ item.ngo.id }}">
                      <!-- <p>{{ item.ngo.user }}</p> -->
                      <button type="submit" class="my-3 px-3 w-32 h-10 bg-black text-white rounded-lg">More details</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>  
  </section>


  {% if transactions %}
  <h1 class="text-left mx-48 my-5 text-3xl mt-5 text-white">Transactions</h1>
  <section id="transactions" class="m-4 px-4 flex justify-center items-center -z-10">
    <div class="relative overflow-x-auto overflow-y-auto h-96 shadow-md sm:rounded-lg w-4/5">
        <table class="w-full text-sm text-left rtl:text-right text-black dark:text-black">
            <thead class="text-xs text-black uppercase bg-white">
                <tr>
                    <th scope="col" class="px-6 py-3 text-base">
                        Transaction Id
                    </th>
                    <th scope="col" class="px-6 py-3 text-base">
                        To
                    </th>
                    <!-- <th scope="col" class="px-6 py-3">
                        Transaction Type
                    </th> -->
                    <th scope="col" class="px-6 py-3 text-base">
                        Amount
                    </th>
                    <th scope="col" class="px-6 py-3 text-base">
                        Done At
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in transactions %}
                <tr class="bg-white border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                        {{ i.transaction_id }}
                    </th>
                    <td class="px-6 py-4">
                        {{ i.to_user }}
                    </td>
                    <!-- <td class="px-6 py-4">
                        {{ i.transaction_type }}
                    </td> -->
                    <td class="px-6 py-4">
                        ₹{{ i.amount }}
                    </td>    
                    <td class="px-6 py-4">
                        {{ i.done_at }}
                    </td>               
                </tr>  
                {% endfor %}            
            </tbody>
        </table>
    </div>
    {% endif %}
    
  </section>



    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("change", function () {
          var menu = document.getElementById("menu");
          if (this.checked) {
            // When the checkbox is checked, show the menu
            menu.classList.remove("hidden");
            menu.classList.add("block");
          } else {
            // When the checkbox is not checked, hide the menu
            menu.classList.add("hidden");
            menu.classList.remove("block");
          }
        });
    </script>

<script>
  // Simple JavaScript to toggle the dropdown visibility
  document.getElementById('notificationButton').addEventListener('click', function(event) {
    event.preventDefault();
    var dropdown = document.getElementById('notificationDropdown');
    if (dropdown.classList.contains('hidden')) {
      dropdown.classList.remove('hidden');
    } else {
      dropdown.classList.add('hidden');
    }
  });
</script>
  </body>
</html>