<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}}|NGO</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="font-family: sans-serif">
    <header
      class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md"
    >
      <div class="flex-1 flex justify-between items-center">
        <a href="#" class="text-xl">NGO-Connect <p class="text-sm">{{ user.first_name }}</p></a>
      </div>

      <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg
          class="fill-current text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
          <ul
            class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
          >
            <li class="hover:bg-violet-600">
              <a class="md:p-4 py-3 px-0 block" href="#">Contributers</a>
            </li>
            <li><a class="md:p-4 py-3 px-0 block" href="#">Settings</a></li>
            <li>
              <a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>


    <section>
      <h1 class="text-center">All NGO's</h1>
  
      <div class="text-center">
        {% if ngos %}
        {% for ngo in ngos %}
          <div class="w-96 mx-auto shadow-md shadow-blue-300 p-3 my-3 bg-lime-100 rounded-lg">
              <ul class="mt-3">
                  <li class="text-left">EMAIL: {{ ngo.user.username }}</li>
                  <li class="text-left">NAME: {{ ngo.user.first_name }}</li>
                  <li class="text-left">ADDRESS: {{ ngo.address }}</li>
                  <li class="text-left">PINCODE: {{ ngo.pincode }}</li>
              </ul>
              <br>
              <div class="">     
                  <!-- <form method="post" action="/ngo/accept_request/">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="submit" class="my-3 px-3 bg-green-500">accept</button>
                  </form>
                  <form method="post" action="/ngo/reject_request/">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ i.id }}">
                      <button type="submit" class="my-3 px-3 bg-red-500">reject</button>
                  </form> -->
              </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
  
  
  </section>



    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("change", function () {
          var menu = document.getElementById("menu");
          if (this.checked) {
            // When the checkbox is checked, show the menu
            menu.classList.remove("hidden");
            menu.classList.add("block");
          } else {
            // When the checkbox is not checked, hide the menu
            menu.classList.add("hidden");
            menu.classList.remove("block");
          }
        });
    </script>
  </body>
</html>