<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{name}|NGO</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="font-family: sans-serif">
    <header
      class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md"
    >
      <div class="flex-1 flex justify-between items-center">
        <a href="#" class="text-xl">NGO-Connect</a>
      </div>

      <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg
          class="fill-current text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
          <ul
            class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
          >
            <li class="hover:bg-violet-600">
              <a class="md:p-4 py-3 px-0 block" href="#">Contributers</a>
            </li>
            <li><a class="md:p-4 py-3 px-0 block" href="#">Settings</a></li>
            <li>
              <a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="#">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("change", function () {
          var menu = document.getElementById("menu");
          if (this.checked) {
            // When the checkbox is checked, show the menu
            menu.classList.remove("hidden");
            menu.classList.add("block");
          } else {
            // When the checkbox is not checked, hide the menu
            menu.classList.add("hidden");
            menu.classList.remove("block");
          }
        });
    </script>
  </body>
</html>
