<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{name}|NGO</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container min-h-screen px-28 py-5">
      <nav class="flex items-center">
        <h1 class="w-40">NGO-Connect</h1>
        <ul class="flex-1 text-end">
          <li class="list-none inline-block">
            <a href="#" class="no-underline px-2">Contributions</a>
          </li>
          <li class="list-none inline-block">
            <a href="#" class="no-underline px-2">Settings</a>
          </li>
          <li class="list-none inline-block">
            <a href="#" class="no-underline px-2">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
